@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");

@import "reset.css";
@import "variables.css";
/*Components*/
@import "componets/status-bar.css";
@import "componets/nav-bar.css";
@import "componets/screen-header.css";
@import "componets/user-component.css";
@import "componets/badge.css";
@import "componets/icon-row.css";
@import "componets/alt-screen-header.css";
@import "componets/no-mobile.css";
/*Screens*/
@import "screens/login.css";
@import "screens/friends.css";
@import "screens/find.css";
@import "screens/more.css";
@import "screens/settings.css";
@import "screens/chat.css";

body {
  color: #2e363e;
  font-family: "Star Jedi", arial;
  text-shadow: 3px 3px 3px lightslategrey;
  background: url("https://r1.community.samsung.com/t5/image/serverpage/image-id/591349i744166DD194E8841/image-size/large?v=1.0&px=999");
  overflow: hidden;
}
.main-screen {
  padding: 0px var(--horizontal-space);
}
