#no-mobile {
  position: absolute;
  z-index: 99;
  height: 100vh;
  background-image: rgba(239, 28, 34, 0.9);
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  top: 0;
}

@media screen and (max-width: 1200px) {
  #no-mobile {
    display: none;
  }
}

#rotate-screen {
  position: absolute;
  z-index: 99;
  height: 100vh;
  background-color: rgba(239, 28, 34, 0.9);
  color: white;
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 32px;
  top: 0;
}

@media screen and (orientation: portrait) {
  #rotate-screen {
    display: none;
  }
}
