.user-component {
  justify-content: space-between;
}
.user-component,
.user-component_column:first-child {
  display: flex;
  align-items: center;
}
.user-component_avatar {
  width: 70px;
  height: 70px;
  border-radius: 30px;
  margin-right: 20px;
  box-shadow: 0 0 20px orange;
}
.user-component_title {
  font-weight: 600;
  font-size: 22px;
  color: white;
}
.user-component_subtitle {
  margin-top: 8px;
  font-size: 17px;
  color: rgba(255, 255, 255, 0.8);
}
.user-component_avatar--xl {
  width: 80px;
  height: 80px;
}

.user-component_avatar--sm {
  width: 60px;
  height: 60px;
  border-radius: 25px;
  margin-top: 20px;
}

.user-component_title--not-bold {
  font-weight: 400;
}

.user-component_column:last-child {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: block;
}

.user-component_time {
  margin-bottom: 10px;
  display: block;
}
.user-component_subtitle i {
  color: rgba(255, 255, 255, 0.8);
  position: absolute;
  left: 255px;
}

.user-Qui {
  box-shadow: 0 0 20px green;
}
